<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yychainsaw.mapper.FriendshipMapper">

    <select id="selectFriendsActivePlans" resultType="com.yychainsaw.pojo.vo.FriendPlanVO">
        SELECT u.username, p.title, p.status, p.end_date
        FROM users u
        JOIN friendships f ON u.user_id = f.friend_id
        JOIN plans p ON u.user_id = p.user_id
        WHERE f.user_id = #{userId} AND f.status = 'ACCEPTED' AND p.status = 'ACTIVE'
    </select>

    <select id="selectFriendRankings" resultType="com.yychainsaw.pojo.vo.FriendRankingVO">
        SELECT u.username, COUNT(wr.record_id) AS total_workouts, MAX(wr.workout_date) AS last_workout
        FROM users u
        JOIN friendships f ON u.user_id = f.friend_id
        JOIN workout_records wr ON u.user_id = wr.user_id
        WHERE f.user_id = #{userId} AND f.status = 'ACCEPTED'
        GROUP BY u.user_id, u.username
        ORDER BY total_workouts DESC LIMIT 5
    </select>


</mapper>